<div class="card">
  <p-menubar [model]="items">
    <ng-template #start>
      <div routerLink="/" class="no-underline">
        <span style="font-size: 1.3rem; font-weight: bold; color: #6366f1; letter-spacing: 1px;">ANZER</span>
      </div>
    </ng-template>
    <ng-template #end>
      <p-iconfield>
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal" shape="circle"/>
      </p-iconfield>
    </ng-template>
  </p-menubar>
</div>
